@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-Bold.ttf") format("truetype");
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", "Comic Sans MS";
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

main {
    padding: 1em;
    background: white;
    width: 320px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.375rem;
    margin-top: 1em;
}

p {
    color: hsl(220, 15%, 55%);
}

footer {
    margin: 3em 0 1em 0;
}

.card-text {
    margin: 1em;
}